<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #2b27d5, #11dae3);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

form {
    margin: 0 100px;
    padding: 25px 300px;
    /* padding: 20px; */
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #3498db;
}

input[type="submit"] {
    /* background: linear-gradient(45deg, #2ecc71, #27ae60); */
    background: chartreuse;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background: linear-gradient(45deg, #27ae60, #219653);
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #3498db;
}
    </style>
</head>
<body>
    <h2>Log In</h2>
    <form action="/login" method="post">
    
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">

    
    </form>

    <a href="/signup"> Make a new account</a>
</body>
</html>